.modal-backdrop {
  // position: absolute;
  display: none;

}

.modal {
  z-index: 1200;
  top: 40%;
}

#coverup {
    position: fixed;
    z-index: 100000;
    width: 100%;
    visibility: hidden;
    height: 100%;
    background: #FFFFFF;
    opacity: 0.75;
}

#coverup.show {
    position: fixed;
    z-index: 100000;
    width: 100%;
    visibility: visible;
    height: 100%;
    background: #FFFFFF;
    opacity: 0.75;
}

.loader-img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 150px;
}