{% extends "gsshaindex/base.html" %}

{% load tethys_gizmos %}

{% block app_navigation_items %}
  <li class="title">App Navigation</li>
  <li class="active"><a href="javascript:void(0);" onclick="TETHYS_APP_BASE.exit_app('{% url 'app_library' %}');">Home</a></li>
  <li><a href="">Load New Models</a></li>
  <li class="separator"></li>
  <li><a href="{% url 'gsshaindex:status'%}">See Past Comparisons</a></li>
<li class="separator"></li>
  <li><a href="">Get Started</a></li>
{% endblock %}

{% block primary_content %}
  <div class="module">
    <div class="module-content">
      {% if model_list|length < 1 %}
      	<h1 class="heading_title">No GSSHA Models</h1>
      {% else %}
      	<h1 class="heading_title">GSSHA Model: {{ model_list.0.0 }}</h1>
        <h4>Model Description:</h4>
	    <p id="description">{{ model_list.0.0 }}</p>
	  {% endif %}
      {% gizmo google_map google_map %}
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
   <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-globe"></i>
      Select a Model
    </h2>
    <div class="module-content">
        {% if model_list|length < 1 %}
            <p>There are no GSSHA models. Please upload some to your datasets or ensure your models are labeled with "Model" as "GSSHA". </p>
        {% else %}
            <p>Below is a list of GSSHA models stored in the datasets. Please select which one you would like to edit.</p>
            <div id="models-div" style="height:400px;overflow-y:auto">
                <ul class="nav nav-pills nav-stacked">
                    {% gizmo select_input select_model %}
                    {% for model in model_list %}
                    <li {% if file_id == model.id %}class="models active"{% else %} class="models" {% endif %}><a href="javascript:void(0);" id="{{model.id}}" onclick="changeMap(this, '{{model.id}}', '{{model.description}}', '{{model.name}}');">{{model.name}}{% if model.certification == "True" %}<img style="height:20px; display:block; padding-top:10px;" src="/gsshaindex/images/verified_long.jpg">{%endif%}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

  </div>
{% endblock %}

{% block app_actions %}
  <a href="{% url 'gsshaindex:secondpg' name='bob' %}" class="btn btn-default">Next</a>
  <a href="" class="btn btn-default">Back</a>
{% endblock %}

{% block scripts %}
    {{ block.super }}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script>
		function changeMap(element, file_id, description, file_name) {
			$('.models').each(function(file_id){
				$(this).removeClass('active')
			});
			$('#file_id').val(file_id);
			$('#file_name').val(file_name);
			$('.models').each(function(){
				if ($(this).children('a').get(0).id == file_id){
					$(this).addClass('active');
					$('#description').text(description);
					$('.heading_title').text("GSSHA Model: "+$(element).text())
				};
			});
			TETHYS_EDIT_MAP.swapKmlService('/apps/gssha-index/get-mask-map/'+file_id);
		};
	</script>
    {% gizmo_dependencies %}
{% endblock %}
