{% extends "gsshaindex/base.html" %}

{% load tethys_gizmos staticfiles %}

{% block app_navigation_items %}
  <li class="title">App Navigation</li>
  <li><a href="{% url 'gsshaindex:home'%}">Home</a></li>
  <!--<li><a href="">Load New Models</a></li>-->
  <li class="separator"></li>
  <li class="active"><a href="{% url 'gsshaindex:in_progress'%}">Models in Progress</a></li>
  <li class="separator"></li>
  <li><a href="{% url 'gsshaindex:status'%}">Completed Models</a></li>
{% endblock %}

{% block app_content %}
   	<h1 class="heading_title">Uncompleted Projects</h1>
    <p>This is a list of your uncompleted projects. Click on them to return to editing them</p>
    <div class="module-content">
      	<div id="jobs-table">
		    <table class="table table-striped">
                <thead>
                    <th>Model Edits Based Off</th>
                    <th>Date Edits Started</th>
                </thead>
                {% for job in job_info %}
                    <tr>
                        <td class="name" data-id="{{ job.2 }}">{{job.0}}</td>
                        <td class="date_created" data-id="{{ job.2 }}">{{job.1}}</td>
                        <td><a class="btn btn-mini btn-danger" href="{% url 'gsshaindex:delete' job_id=job.2 return_to='uncompleted' %}">Delete</a></td>
                        <td><a class="btn btn-mini btn-info" href="{% url 'gsshaindex:select_index' job_id=job.2 %}">Continue Modifying Model</a></td>
                    </tr>
                {% endfor %}
            </table>
		</div>
    </div>
{% endblock %}

{% block scripts %}
    {% gizmo_dependencies css %}
    {{ block.super }}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{% static 'gsshaindex/js/fly.js' %}" type="text/javascript"></script>
    {% gizmo_dependencies js %}
{% endblock %}